---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Achievement from "../components/cv/Achievements.astro";
import myPDF from '../assets/Bora_CV_University.pdf';
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="pdf-link mb-5">
    You can view my CV in a PDF form by clicking <a href={myPDF} target="_blank" class="text-blue-500">here</a>.
  </div>    
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="MSc. in Machine Learning"
      subtitle="2023, at University of Tübingen, Tübingen, Germany"
      extra={[]}
    />
    <TimeLineElement
      title="BSc. in Computer Engineering"
      subtitle="2018-2023 at Middle East Technical University, Ankara, Turkey"
      extra={["GPA: 3.83/4.00", "Ranked 5th in the department"]}
      />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Deep Learning & Computer Vision Engineer"
      subtitle="DataBoss Security & Consulting, Ankara, Turkey"
      date="Nov 2022-Aug 2023"
    >
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        Integrated and tested latest SOTA object detection models
      </li>
      <li>
        Designed and tested augmentation techniques for improving the detection score of the machine learning algorithms
      </li>
      <li>
        Built end-to-end pipeline for OCR to work with various newspapers sources and formats for creating a NLP dataset
      </li>
    </ul>    </TimeLineElement>
    <TimeLineElement
      title="Deep Learning & Computer Vision Engineer Intern"
      subtitle="Kuartis Technology and Consulting, Ankara, Turkey"
      date="Aug 2022 - Sep 2022"
    >  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        Implemented a deep learning model that segments and classfies the roads type for the autonomous vehicle.
      </li>
      <li>
        Implemented and automized a pipeline for uploading company data into annotation tool for object detection and segmentation.
      </li>
    </ul>
      </TimeLineElement>

    <TimeLineElement
      title="Undergraduate Researcher, Supervised by Prof. Sinan Kalkan"
      subtitle="KOVAN Research Lab, Ankara, Turkey"
      date="Aug 2021 - Sep 2021"
    >  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        Trained a robot agent that can pick up object from a table and join them together
        from their desired spots.
      </li>
      <li>
        Upgraded the camera system of the simulation environment for multiple-camera usage.
      </li>
    </ul>
      </TimeLineElement>

      <TimeLineElement
      title="Undergraduate Researcher, Supervised by Prof. Reda Alhajj"
      subtitle="TUBITAK, Ankara, Turkey"
      date="Feb 2021 - Jul 2021"
    >  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        Created a web-based tool that allows users to upload datasets, display them, preprocess them, and then utilize the preprocessed datasets to
        train machine learning or deep learning models.
      </li>
      <li>
        Using LSTM, trained a deep learning model to predict whether or not a patient has a certain eye illness.
      </li>
    </ul>
      </TimeLineElement>
      

  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Pandas</li>
    <li>PyTorch</li>
    <li>Tensorflow</li>
    <li>Numpy</li>
    <li>Scikit-learn</li>
    <li>C/C++</li>
    <li>Flask</li>
    <li>HTML/CSS/JS</li>
    <li>SQL/NoSQL</li>
    <li>Linux</li>
    <li>Shell (Bash/Zsh)</li>
    <li>LaTeX</li>
    <li>Git/Github</li>
    <li>Docker</li>
    <li>REST</li>
  </ul>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Achievements</div>
  </div>


  <Achievement
    description="Ranked 5th in the department"
    place="Middle East Technical University, Ankara, Turkey"
    date="2023"
  > -->
</BaseLayout>
