---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="MSc. in Machine Learning"
      subtitle="2023, at University of Tübingen, Tübingen, Germany"
      extra={[]}
    />
    <TimeLineElement
      title="BSc. in Computer Engineering"
      subtitle="2018-2023 at Middle East Technical University, Ankara, Turkey"
      extra={["GPA: 3.83/4.00", "Ranked 5th in the department"]}
      />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Deep Learning & Computer Vision Engineer"
      subtitle="From Nov 2022-Aug 2023 at DataBoss Security & Consulting, Ankara, Turkey"
    >
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        Integrated and tested latest SOTA object detection models
      </li>
      <li>
        Designed and tested augmentation techniques for improving the detection score of the machine learning algorithms
      </li>
      <li>
        Built end-to-end pipeline for OCR to work with various newspapers sources and formats for creating a NLP dataset
      </li>
    </ul>    </TimeLineElement>
    <TimeLineElement
      title="Undergraduate Researcher, Supervised by Prof. Sinan Kalkan"
      subtitle="From September 2022 - July 2023 at Middle East Technical University, Ankara, Turkey"
    >
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        Worked on the imbalance problem the regression tasks.
      </li>
      <li>
        Created a basic framework for implementing ensemble methods for regression tasks. <a class="text-blue-500" href="https://github.com/kargibora/regression-uncertainty">[Repo Link]</a>
      </li>

    </ul>    </TimeLineElement>
    <TimeLineElement
      title="Deep Learning & Computer Vision Engineer Intern"
      subtitle="From August 2022 - September 2022 at Kuartis Technology and Consulting, Ankara, Turkey"
    >  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        Implemented a deep learning model that detects and classifies objects in images.
      </li>
      <li>
        Implemented a pipeline for uploading company data into annotation tool for object detection.
      </li>
    </ul>
      </TimeLineElement>

      <TimeLineElement
      title="Undergraduate Researcher, Supervised by Prof. Sinan Kalkan"
      subtitle="From August 2022 - September 2022 at KOVAN Research Lab, Ankara, Turkey"
    >  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        Trained a robot agent that can pick up object from a table and join them together
        from their desired spots.
      </li>
      <li>
        Upgraded the camera system of the simulation environment for multiple-camera usage.
      </li>
    </ul>
      </TimeLineElement>


  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Pandas</li>
    <li>PyTorch</li>
    <li>Tensorflow</li>
    <li>Numpy</li>
    <li>Scikit-learn</li>
    <li>C/C++</li>
    <li>Flask</li>
    <li>HTML/CSS/JS</li>
    <li>SQL/NoSQL</li>
    <li>Linux</li>
    <li>Shell (Bash/Zsh)</li>
    <li>LaTeX</li>
    <li>Git/Github</li>
    <li>Docker</li>
    <li>REST</li>
  </ul>
</BaseLayout>
